<a href="https://colab.research.google.com/github/ninjaa1234/Learnin_New/blob/main/pd_DataFrame_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1) Create DataFrame

In [1]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

#2) Shape of Database

In [2]:
df.shape

(6, 4)

In [7]:
rows, columns = df.shape
print("the no of rows are:",rows)
print("the no of columns are:",columns)

the no of rows are: 6
the no of columns are: 4

#3) Using head() and tail() method

In [9]:
df.head()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# 4) Indexing & Slicing

In [11]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [12]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [13]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
df["event"]

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [16]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

#5) Type of dataframe

In [17]:
type(df['event'])

pandas.core.series.Series

#6) Methods in dataframe

**max() method**

In [19]:
df['temperature'].max()

35

**mean() method**

In [20]:
df['temperature'].mean()

30.333333333333332

**standard deviation method**

In [21]:
df['temperature'].std()

3.8297084310253524

**describe() method**

In [22]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

#7) Conditional methods

**temperature above 32**

In [23]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

**temperature with max temp**

In [26]:
df[df['temperature']==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

**print the day in which max temp occurs**

In [28]:
df["day"][df.temperature==df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

**print the day and temp when max temp occured**

In [31]:
df[["day","temperature"]][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35

#8) set_index() method

In [32]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [35]:
df.set_index('day')

#new df without replacement whre index is day

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [50]:
df.set_index('day',inplace=True)

#new df with replacement whre index is day

In [51]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [52]:
df.loc['1/1/2017']

#indexing with day

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [49]:
df.reset_index(inplace=True)
#reset the new df

In [44]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny