<a href="https://colab.research.google.com/github/ninjaa1234/Learning_New/blob/main/Machine_Learning/Dummy_Variables_and_One_Hot_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**This method is to handle text information in dataset and approach it as integers**

![picture](https://drive.google.com/uc?export=view&id=1a4EK6ANCpPnuQvO0QG0OtuJorsvvkh9n)

![picture](https://drive.google.com/uc?export=view&id=1Mph3S902VG4kfDPBoY-APEDWydO3l1rw)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [29]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

#**Doing it manually**

# Create dummy variable columns

In [3]:
dummies=pd.get_dummies(df.town)
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

#Merge the dummy table with the orginal table

In [4]:
merged=pd.concat([df,dummies],axis='columns')
merged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

#Drop the town column and 1 dummy column

In [5]:
#this is done to remove dummy variable trap

final=merged.drop(['town','west windsor'],axis='columns')
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

#Create a linear regression Model

In [6]:
reg=linear_model.LinearRegression()

In [7]:
#All the independent variables
X=final.drop(['price'],axis='columns')
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [22]:
#All the dependent Variable
Y=final.price
Y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [9]:
reg.fit(X,Y)

LinearRegression()

In [10]:
#Predict the price of house with area 2800, dummy 0,1
reg.predict([[2800,0,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([590775.63964739])

In [11]:
#Predict the price of house with area 3400, dummy 0,1
reg.predict([[3400,0,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([681241.66845839])

#To find the accuracy of prediction

In [12]:
reg.score(X,Y)

0.9573929037221873

#**Using One Hot Encoding**

In [13]:
!pip install preprocessing

Collecting preprocessing
  Downloading preprocessing-0.1.13-py3-none-any.whl (349 kB)
     |████████████████████████████████| 349 kB 9.2 MB/s
Collecting sphinx-rtd-theme==0.2.4
  Downloading sphinx_rtd_theme-0.2.4-py2.py3-none-any.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 41.4 MB/s
Collecting nltk==3.2.4
  Downloading nltk-3.2.4.tar.gz (1.2 MB)
     |████████████████████████████████| 1.2 MB 22.8 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.2.4->preprocessing) (1.15.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.2.4-py3-none-any.whl size=1367722 sha256=2e61bb8ed4659f022fe246b7a086986d3384990de0c5f797e7b27877bc658849
  Stored in directory: /root/.cache/pip/wheels/90/5e/9e/4cb46185f2a16c60e6fc524372ba7fef89ce3347734c8798b6
Successfully built nltk
Installing collected packages: sphinx-rtd-theme, nltk, preprocessing
  Attempting uninstall: nltk
    Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.2.4 preprocessing-0.1.13 sphinx-rtd-theme-0.2.4

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le=LabelEncoder()

In [19]:
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [30]:
#dependent variables
Y1=df.price
#independent variables
X1=df.drop("price",axis="columns")

In [45]:
Y1

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [32]:
X1['new_column']=le.fit_transform(df['town'])
X1

               town  area  new_column
0   monroe township  2600           0
1   monroe township  3000           0
2   monroe township  3200           0
3   monroe township  3600           0
4   monroe township  4000           0
5      west windsor  2600           2
6      west windsor  2800           2
7      west windsor  3300           2
8      west windsor  3600           2
9       robinsville  2600           1
10      robinsville  2900           1
11      robinsville  3100           1
12      robinsville  3600           1

In [36]:
X2=X1.drop(['town','area'],axis="columns")
X2

    new_column
0            0
1            0
2            0
3            0
4            0
5            2
6            2
7            2
8            2
9            1
10           1
11           1
12           1

In [37]:
#monroe township is 0
#west windsor is 2
#robinsville is 1

In [46]:
from sklearn import linear_model
reg1=linear_model.LinearRegression()

In [51]:
reg1.fit(X2,Y1)

LinearRegression()

In [54]:
reg.predict([[1,2800]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored

In [49]:
reg1.score(X2,Y1)

0.009868147304858965

In [ ]:
ct = ColumnTransformer([("town", OneHotEncoder(), [0])], remainder = 'passthrough')

In [ ]:
X = ct.fit_transform(X)