<a href="https://colab.research.google.com/github/ninjaa1234/Learning_New/blob/main/Machine_Learning/Naive_Bayes_Classifier_Algorithm_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

#Data Visualisation

In [4]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

#We have to convert both ham and spam into numbers

In [5]:
df["spam"]=df.Category.apply(lambda x: 1 if x=="spam" else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [8]:
X=df.Message
Y=df.spam

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25)

#We should also convert text into numbers
#**For this we use CountVectorizer**

![picture](https://drive.google.com/uc?export=view&id=1DIWGjvNhHxSDWJbj3qR0BmYwrADckqu6)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count=v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

#For this we use Multinomial Naive Bayes Theorm

![picture](https://drive.google.com/uc?export=view&id=1stDfo_hexAQhrFD5mz8w8ttTSzLvfOxC)

#Multinomial Naive Bayes Theorm Manually

In [11]:
from sklearn.naive_bayes import MultinomialNB
reg=MultinomialNB()
reg.fit(X_train_count,Y_train)

MultinomialNB()

In [13]:
emails=[
        "Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...",
        "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry "
]
emails_count=v.transform(emails)
reg.predict(emails_count)

array([0, 1])

In [14]:
X_test_count=v.transform(X_test)
reg.score(X_test_count,Y_test)

0.9820531227566404

#Using Pipeline Method

In [18]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
              ('vectorizer',CountVectorizer()),         #Convert my text into the vector of countvectoriser
              ('nb',MultinomialNB())                    #apply the mutinomial NaiveBayes
])

In [19]:
clf.fit(X_train,Y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [20]:
clf.score(X_test,Y_test)

0.9820531227566404