<a href="https://colab.research.google.com/github/ninjaa1234/Learning_New/blob/main/Machine_Learning/Outlier_using_IQR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![picture](https://drive.google.com/uc?export=view&id=1Y5vXWNeJHbYR7d0sHvBDea4qPPhki10K)

![picture](https://drive.google.com/uc?export=view&id=1BssiR3kiJXJEq9cRtIaIpenrZN5LNaTx)

In [1]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/FeatureEngineering/3_outlier_IQR/heights.csv')
df.head()

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [2]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [3]:
Q1=df.height.quantile(0.25)
Q3=df.height.quantile(0.75)
Q1,Q3

(5.3500000000000005, 6.275)

In [4]:
IQR=Q3-Q1
IQR

0.9249999999999998

In [5]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit,upper_limit

(3.962500000000001, 7.6625)

In [7]:
outliers=df[(df.height<lower_limit) | (df.height>upper_limit)]
outliers

     name  height
0   mohan     1.2
1   maria     2.3
17  aamir    14.5
18    ken    23.2
19    Liu    40.2

In [9]:
df_no_outlier=df[(df.height > lower_limit) & (df.height < upper_limit)]
df_no_outlier

       name  height
2     sakib     4.9
3       tao     5.1
4     virat     5.2
5    khusbu     5.4
6    dmitry     5.5
7    selena     5.5
8      john     5.6
9     imran     5.6
10     jose     5.8
11  deepika     5.9
12   yoseph     6.0
13    binod     6.1
14  gulshan     6.2
15  johnson     6.5
16   donald     7.1