<a href="https://colab.research.google.com/github/ninjaa1234/Learning_New/blob/main/Machine_Learning/Training_and_Testing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/6_train_test_split/carprices.csv")
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [12]:
#independent variables
X=df.drop(['Sell Price($)'],axis="columns")
X.head()

   Mileage  Age(yrs)
0    69000         6
1    35000         3
2    57000         5
3    22500         2
4    46000         4

In [11]:
#dependent variables
Y=df['Sell Price($)']
Y.head()

0    18000
1    34000
2    26100
3    40000
4    31500
Name: Sell Price($), dtype: int64

#import the train_test split library

In [15]:
from sklearn.model_selection import train_test_split

In [34]:
#X and Y are inputs and 0.2 is the ratio by which you want to train
#ie only 80% data remains
#80% train data size
#20% test data size 
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [32]:
#80% length of train dataset
len(X_train)

16

In [33]:
#random 80% samples
X_train

    Mileage  Age(yrs)
15    25400         3
7     72000         6
8     91000         8
11    79000         7
19    52000         5
13    58780         4
5     59000         5
12    59000         5
2     57000         5
10    83000         7
3     22500         2
6     52000         5
4     46000         4
1     35000         3
0     69000         6
17    69000         5

In [20]:
#20% length of test dataset
len(X_test)

4

In [23]:
#rest random 20%
X_test

    Mileage  Age(yrs)
14    82450         7
18    87600         8
9     67000         6
16    28000         2

In [31]:
Y_train

15    35000
7     19300
8     12000
11    19500
19    28200
13    27500
5     26750
12    26000
2     26100
10    18700
3     40000
6     32000
4     31500
1     34000
0     18000
17    19700
Name: Sell Price($), dtype: int64

In [36]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [37]:
reg.fit(X_train,Y_train)

LinearRegression()

In [38]:
reg.predict(X_test)

array([27197.59485945, 20845.70351747, 38478.21383873, 37076.15473196])

In [40]:
Y_test

6     32000
7     19300
3     40000
16    35500
Name: Sell Price($), dtype: int64

In [41]:
reg.score(X_test,Y_test)

0.8724496527633451