<a href="https://colab.research.google.com/github/ninjaa1234/Learning_New/blob/main/Pandas/Concat_Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
india_weather=pd.DataFrame({
    "city":["mumbai",'delhi','banglore'],
    'temperature':[32,45,60],
    'humidity':[80,60,70]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           60        70

In [3]:
usa_weather=pd.DataFrame({
    "city":["new_york",'chicago','orlando'],
    'temperature':[23,14,35],
    'humidity':[80,60,70]
})
usa_weather

       city  temperature  humidity
0  new_york           23        80
1   chicago           14        60
2   orlando           35        70

#Concat with continous index

In [5]:
pd.concat([india_weather,usa_weather],ignore_index=True)

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           60        70
3  new_york           23        80
4   chicago           14        60
5   orlando           35        70

#Concat with keys

In [9]:
df=pd.concat([india_weather,usa_weather],keys=["india","usa"])

In [10]:
df.loc['india']

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           60        70

#Concat two datasets with each other as columns

In [14]:
city_temp=pd.DataFrame({
    "city":["mumbai",'delhi','banglore'],
    'temperature':[32,45,60]
})
city_temp

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           60

In [13]:
windspeed=pd.DataFrame({
    'humidity':[80,60,70]
})
windspeed

   humidity
0        80
1        60
2        70

In [18]:
df=pd.concat([city_temp,windspeed],axis="columns")
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           60        70